{"openapi": "3.0.0", "info": {"title": "Bling API", "description": "A sess\u00e3o abaixo cont\u00e9m a documenta\u00e7\u00e3o das API's que o Bling disponibiliza.", "version": "3.0"}, "servers": [{"url": "https://api.bling.com.br/Api/v3", "description": "Ambiente de produ\u00e7\u00e3o"}, {"url": "https://developer.bling.com.br/api/bling", "description": "Ambiente de teste da documenta\u00e7\u00e3o"}], "paths": {"/": {}, "/anuncios/categorias": {"get": {"tags": ["An\u00fancios - Categorias"], "summary": "Obt\u00e9m categorias de an\u00fancios", "description": "Obt\u00e9m categorias de an\u00fancios.", "parameters": [{"$ref": "#/components/parameters/tipoIntegracao"}, {"$ref": "#/components/parameters/idLojaQuery"}, {"name": "idCategoria", "in": "query", "description": "ID da categoria", "required": false, "schema": {"type": "integer", "example": 10}}, {"name": "tipoProduto", "in": "query", "description": "Tipo do produto", "required": false, "schema": {"type": "string", "example": "eletronico"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/AnunciosCategoriaDTO"}}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "AnunciosCategorias", "x-api-action": "ObterMultiplos"}}, "/anuncios/categorias/{idCategoria}": {"get": {"tags": ["An\u00fancios - Categorias"], "summary": "Obt\u00e9m uma categoria de an\u00fancio", "description": "Obt\u00e9m uma categoria de an\u00fancio pelo ID.", "parameters": [{"name": "idCategoria", "in": "path", "description": "ID da categoria no marketplace (ex.: Mercado Livre)", "required": true, "schema": {"type": "string", "example": "MLB1430"}}, {"$ref": "#/components/parameters/tipoIntegracao"}, {"$ref": "#/components/parameters/idLojaQuery"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/AnunciosGetAttributesFromCategoryResponseDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "AnunciosCategorias", "x-api-action": "Obter"}}, "/anuncios": {"get": {"tags": ["An\u00fancios"], "summary": "Obt\u00e9m an\u00fancios", "description": "Obt\u00e9m an\u00fancios paginados.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "situacao", "in": "query", "description": "Situa\u00e7\u00e3o do an\u00fancio <br> `1` Publicado <br> `2` Rascunho <br> `3` Com problema <br> `4` Pausado", "required": false, "schema": {"type": "integer", "default": 1, "enum": [1, 2, 3, 4]}}, {"name": "idProduto", "in": "query", "description": "ID do produto", "required": false, "schema": {"type": "integer", "example": 12345}}, {"$ref": "#/components/parameters/tipoIntegracao"}, {"$ref": "#/components/parameters/idLojaQuery"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/AnunciosGetAllResponseDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Anuncios", "x-api-action": "ObterMultiplos"}, "post": {"tags": ["An\u00fancios"], "summary": "Cria um an\u00fancio", "description": "Cria um an\u00fancio.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnunciosSaveRequest"}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/AnunciosSaveResponseDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Anuncios", "x-api-action": "Criar"}}, "/anuncios/{idAnuncio}": {"get": {"tags": ["An\u00fancios"], "summary": "Obt\u00e9m um an\u00fancio", "description": "Obt\u00e9m os detalhes de um an\u00fancio espec\u00edfico pelo seu ID.", "parameters": [{"$ref": "#/components/parameters/idAnuncio"}, {"$ref": "#/components/parameters/tipoIntegracao"}, {"$ref": "#/components/parameters/idLojaQuery"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/AnunciosGetByIdResponseDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Anuncios", "x-api-action": "Obter"}, "put": {"tags": ["An\u00fancios"], "summary": "Altera um an\u00fancio", "description": "Altera um an\u00fancio pelo ID.", "parameters": [{"$ref": "#/components/parameters/idAnuncio"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnunciosSaveRequest"}}}}, "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Anuncios", "x-api-action": "Alterar"}, "delete": {"tags": ["An\u00fancios"], "summary": "Remove um an\u00fancio", "description": "Remove um an\u00fancio pelo ID.", "parameters": [{"$ref": "#/components/parameters/idAnuncio"}, {"$ref": "#/components/parameters/tipoIntegracao"}, {"$ref": "#/components/parameters/idLojaQuery"}], "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Anuncios", "x-api-action": "Remover"}}, "/anuncios/{idAnuncio}/publicar": {"post": {"tags": ["An\u00fancios"], "summary": "Publica um an\u00fancio", "description": "Altera o status do an\u00fancio para publicado.", "parameters": [{"$ref": "#/components/parameters/idAnuncio"}, {"$ref": "#/components/parameters/tipoIntegracao"}, {"$ref": "#/components/parameters/idLojaQuery"}], "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Anuncios", "x-api-action": "Publicar"}}, "/anuncios/{idAnuncio}/pausar": {"post": {"tags": ["An\u00fancios"], "summary": "Pausa um an\u00fancio", "description": "Altera o status do an\u00fancio para pausado.", "parameters": [{"$ref": "#/components/parameters/idAnuncio"}, {"$ref": "#/components/parameters/tipoIntegracao"}, {"$ref": "#/components/parameters/idLojaQuery"}], "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Anuncios", "x-api-action": "Pausar"}}, "/borderos/{idBordero}": {"get": {"tags": ["Border\u00f4s"], "summary": "Obt\u00e9m um border\u00f4", "description": "Obt\u00e9m um border\u00f4 pelo ID.", "parameters": [{"$ref": "#/components/parameters/idBordero"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/BorderosDadosDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Borderos", "x-api-action": "Obter"}, "delete": {"tags": ["Border\u00f4s"], "summary": "Remove um border\u00f4", "description": "Remove um border\u00f4 pelo ID.", "parameters": [{"$ref": "#/components/parameters/idBordero"}], "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Borderos", "x-api-action": "Remover"}}, "/campos-customizados/modulos": {"get": {"tags": ["Campos Customizados"], "summary": "Obt\u00e9m m\u00f3dulos que possuem campos customizados", "description": "Obt\u00e9m m\u00f3dulos que possuem campos customizados.", "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"allOf": [{"$ref": "#/components/schemas/CamposCustomizadosModuloBaseDTO"}, {"$ref": "#/components/schemas/CamposCustomizadosModuloDTO"}]}}}, "type": "object"}}}}}, "x-api-resource": "CamposCustomizados", "x-api-action": "ObterModulosCamposCustomizados"}}, "/campos-customizados/tipos": {"get": {"tags": ["Campos Customizados"], "summary": "Obt\u00e9m tipos de campos customizados", "description": "Obt\u00e9m tipos de campos customizados.", "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"allOf": [{"$ref": "#/components/schemas/CamposCustomizadosTipoBaseDTO"}, {"$ref": "#/components/schemas/CamposCustomizadosTipoDTO"}]}}}, "type": "object"}}}}}, "x-api-resource": "CamposCustomizados", "x-api-action": "ObterTiposCamposCustomizados"}}, "/campos-customizados/modulos/{idModulo}": {"get": {"tags": ["Campos Customizados"], "summary": "Obt\u00e9m campos customizados por m\u00f3dulo", "description": "Obt\u00e9m campos customizados por m\u00f3dulo paginados.", "parameters": [{"name": "idModulo", "in": "path", "description": "", "required": true, "schema": {"type": "integer", "example": "12345678"}}, {"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"}}}, "type": "object"}}}}}, "x-api-resource": "CamposCustomizados", "x-api-action": "ObterMultiplos"}}, "/campos-customizados/{idCampoCustomizado}": {"get": {"tags": ["Campos Customizados"], "summary": "Obt\u00e9m um campo customizado", "description": "Obt\u00e9m um campo customizado pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCampoCustomizado"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "object", "allOf": [{"$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"}, {"$ref": "#/components/schemas/CamposCustomizadosDadosEdicaoDTO"}, {"$ref": "#/components/schemas/CamposCustomizadosDadosDTO"}]}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CamposCustomizados", "x-api-action": "Obter"}, "put": {"tags": ["Campos Customizados"], "summary": "Altera um campo customizado", "description": "Altera um campo customizado pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCampoCustomizado"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"}, {"$ref": "#/components/schemas/CamposCustomizadosDadosEdicaoDTO"}]}}}}, "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "object", "allOf": [{"$ref": "#/components/schemas/BasePostResponse"}, {"$ref": "#/components/schemas/CamposCustomizadosResponse_POST_PUT"}]}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CamposCustomizados", "x-api-action": "Alterar"}, "delete": {"tags": ["Campos Customizados"], "summary": "Remove um campo customizado", "description": "Remove um campo customizado pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCampoCustomizado"}], "responses": {"204": {"description": "No content."}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CamposCustomizados", "x-api-action": "Remover"}}, "/campos-customizados": {"post": {"tags": ["Campos Customizados"], "summary": "Cria um campo customizado", "description": "Cria um campo customizado.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/CamposCustomizadosDadosBaseDTO"}, {"$ref": "#/components/schemas/CamposCustomizadosDadosEdicaoDTO"}, {"$ref": "#/components/schemas/CamposCustomizadosDadosDTO"}]}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "object", "allOf": [{"$ref": "#/components/schemas/BasePostResponse"}, {"$ref": "#/components/schemas/CamposCustomizadosResponse_POST_PUT"}]}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CamposCustomizados", "x-api-action": "Criar"}}, "/campos-customizados/{idCampoCustomizado}/situacoes": {"patch": {"tags": ["Campos Customizados"], "summary": "Altera a situa\u00e7\u00e3o de um campo customizado", "description": "Altera a situa\u00e7\u00e3o de um campo customizado pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCampoCustomizado"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"properties": {"situacao": {"description": "`0` Inativo <br> `1` Ativo", "type": "integer", "enum": [0, 1], "example": 1}}, "type": "object"}}}}, "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CamposCustomizados", "x-api-action": "AlterarSituacao"}}, "/categorias/lojas": {"get": {"tags": ["Categorias - Lojas"], "summary": "Obt\u00e9m categorias de lojas virtuais vinculadas a de produtos", "description": "Obt\u00e9m categorias de lojas virtuais vinculadas a de produtos paginadas.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "idLoja", "in": "query", "description": "ID da loja", "required": false, "schema": {"type": "integer", "example": 12345678}}, {"name": "idCategoriaProduto", "in": "query", "description": "ID da categoria do produto", "required": false, "schema": {"type": "integer", "example": 12345678}}, {"name": "idCategoriaProdutoPai", "in": "query", "description": "ID da categoria do produto pai", "required": false, "schema": {"type": "integer", "example": 12345678}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/CategoriasLojasDadosDTO"}}}, "type": "object"}}}}}, "x-api-resource": "CategoriasLojas", "x-api-action": "ObterMultiplos"}, "post": {"tags": ["Categorias - Lojas"], "summary": "Cria o v\u00ednculo de uma categoria da loja com a de produto", "description": "Cria o v\u00ednculo de uma categoria da loja com a de produto.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CategoriasLojasDadosDTO"}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/BasePostResponse"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasLojas", "x-api-action": "Criar"}}, "/categorias/lojas/{idCategoriaLoja}": {"get": {"tags": ["Categorias - Lojas"], "summary": "Obt\u00e9m uma categoria da loja vinculada a de produto", "description": "Obt\u00e9m uma categoria da loja vinculada a de produto pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCategoriaLoja"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/CategoriasLojasDadosDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasLojas", "x-api-action": "Obter"}, "put": {"tags": ["Categorias - Lojas"], "summary": "Altera o v\u00ednculo de uma categoria da loja com a de produto", "description": "Altera o v\u00ednculo de uma categoria da loja com a de produto pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCategoriaLoja"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CategoriasLojasDadosDTO"}}}}, "responses": {"204": {"description": "No content."}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasLojas", "x-api-action": "Alterar"}, "delete": {"tags": ["Categorias - Lojas"], "summary": "Remove o v\u00ednculo de uma categoria da loja com a de produto", "description": "Remove o v\u00ednculo de uma categoria da loja com a de produto pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCategoriaLoja"}], "responses": {"204": {"description": "No content."}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasLojas", "x-api-action": "Remover"}}, "/categorias/produtos": {"get": {"tags": ["Categorias - Produtos"], "summary": "Obt\u00e9m categorias de produtos", "description": "Obt\u00e9m categorias de produtos paginadas.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"allOf": [{"$ref": "#/components/schemas/CategoriasProdutosDadosDTO"}, {"properties": {"categoriaPai": {"$ref": "#/components/schemas/CategoriasProdutosCategoriPaiDTO"}}, "type": "object"}]}}}, "type": "object"}}}}}, "x-api-resource": "CategoriasProdutos", "x-api-action": "ObterMultiplos"}, "post": {"tags": ["Categorias - Produtos"], "summary": "Cria uma categoria de produto", "description": "Cria uma categoria de produto.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/CategoriasProdutosDadosDTO"}, {"properties": {"categoriaPai": {"$ref": "#/components/schemas/CategoriasProdutosCategoriPaiDTO"}}, "type": "object"}]}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/BasePostResponse"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasProdutos", "x-api-action": "Criar"}}, "/categorias/produtos/{idCategoriaProduto}": {"get": {"tags": ["Categorias - Produtos"], "summary": "Obt\u00e9m uma categoria de produto", "description": "Obt\u00e9m uma categoria de produto pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCategoriaProduto"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "object", "allOf": [{"$ref": "#/components/schemas/CategoriasProdutosDadosDTO"}, {"properties": {"categoriaPai": {"$ref": "#/components/schemas/CategoriasProdutosCategoriPaiDTO"}}, "type": "object"}]}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasProdutos", "x-api-action": "Obter"}, "put": {"tags": ["Categorias - Produtos"], "summary": "Altera uma categoria de produto", "description": "Altera uma categoria de produto pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCategoriaProduto"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CategoriasProdutosDadosDTO"}}}}, "responses": {"204": {"description": "No content."}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasProdutos", "x-api-action": "Alterar"}, "delete": {"tags": ["Categorias - Produtos"], "summary": "Remove uma categoria de produto", "description": "Remove uma categoria de produto pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCategoriaProduto"}], "responses": {"204": {"description": "No content."}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasProdutos", "x-api-action": "Remover"}}, "/categorias/receitas-despesas": {"get": {"tags": ["Categorias - Receitas e Despesas"], "summary": "Obt\u00e9m categorias de receitas e despesas", "description": "Obt\u00e9m categorias de receitas e despesas paginadas.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "tipo", "in": "query", "description": "`0` Todas<br>`1` Despesa<br>`2` Receita<br>`3` Receita e despesa", "required": false, "schema": {"type": "integer", "default": 0, "enum": [0, 1, 2, 3]}}, {"name": "situacao", "in": "query", "description": "`0` Ativas e Inativas<br>`1` Ativas<br>`2` Inativas", "required": false, "schema": {"type": "integer", "default": 0, "enum": [0, 1, 2]}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"allOf": [{"$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"}]}}}, "type": "object"}}}}}, "x-api-resource": "CategoriasReceitasDespesas", "x-api-action": "ObterMultiplos"}, "post": {"tags": ["Categorias - Receitas e Despesas"], "summary": "Cria uma categoria de receita e despesa", "description": "Cria uma categoria de receita e despesa.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/CategoriasReceitasDespesasDadosPostDTO"}, {"$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"}]}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasReceitasDespesas", "x-api-action": "Criar"}, "delete": {"tags": ["Categorias - Receitas e Despesas"], "summary": "Remove m\u00faltiplas categorias de receita e despesa", "description": "Remove m\u00faltiplas categorias de receita e despesa a partir de uma lista de IDs.", "parameters": [{"name": "idsCategorias[]", "in": "query", "description": "IDs das categorias a serem removidas", "required": true, "schema": {"type": "array", "items": {"type": "integer"}, "example": [12345678, 87654321]}}], "responses": {"204": {"description": "No content."}, "200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"properties": {"alertas": {"type": "array", "items": {"$ref": "#/components/schemas/ErrorResponse"}}}, "type": "object"}}, "type": "object"}}}}}, "x-api-resource": "CategoriasReceitasDespesas", "x-api-action": "RemoverMultiplos"}}, "/categorias/receitas-despesas/{idCategoria}": {"get": {"tags": ["Categorias - Receitas e Despesas"], "summary": "Obt\u00e9m uma categoria de receita e despesa", "description": "Obt\u00e9m uma categoria de receita e despesa pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCategoria"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "object", "allOf": [{"$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"}, {"$ref": "#/components/schemas/CategoriasReceitasDespesasDadosDTO"}]}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasReceitasDespesas", "x-api-action": "Obter"}, "put": {"tags": ["Categorias - Receitas e Despesas"], "summary": "Atualiza uma categoria de receita e despesa", "description": "Atualiza uma categoria de receita e despesa a partir do ID.", "parameters": [{"$ref": "#/components/parameters/idCategoria"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/CategoriasReceitasDespesasDadosPostDTO"}, {"$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"}]}}}}, "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/CategoriasReceitasDespesasDadosBaseDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasReceitasDespesas", "x-api-action": "Alterar"}, "delete": {"tags": ["Categorias - Receitas e Despesas"], "summary": "Remove uma categoria de receita e despesa", "description": "Remove uma categoria de receita e despesa pelo ID.", "parameters": [{"$ref": "#/components/parameters/idCategoria"}], "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "CategoriasReceitasDespesas", "x-api-action": "Remover"}}, "/contas-contabeis": {"get": {"tags": ["Contas Financeiras"], "summary": "Obt\u00e9m contas financeiras", "description": "Obt\u00e9m contas financeiras paginadas.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "ocultarInvisiveis", "in": "query", "description": "Oculta contas financeiras invis\u00edveis", "required": false, "schema": {"type": "boolean", "example": true}}, {"name": "ocultarTipoContaBancaria", "in": "query", "description": "Oculta contas financeiras do tipo conta banc\u00e1ria", "required": false, "schema": {"type": "boolean", "example": true}}, {"name": "situacoes", "in": "query", "description": "Situa\u00e7\u00e3o da conta financeira<br> `1` Ativo<br> `2` Inativo<br> `3` Pendente<br> `4` Cancelada", "required": false, "schema": {"type": "array", "items": {"type": "integer", "enum": [1, 2, 3, 4]}}}, {"name": "aliasIntegracao", "in": "query", "description": "Alias da integra\u00e7\u00e3o", "required": false, "schema": {"type": "string", "example": "BlingPagamentos"}}, {"name": "aliasIntegracao", "in": "path", "description": "Alias da integra\u00e7\u00e3o", "required": false, "schema": {"type": "string", "example": "BlingPagamentos"}}, {"name": "ordenacao", "in": "query", "description": "Ordena\u00e7\u00e3o da obten\u00e7\u00e3o pelos campos: <br> `descricao`", "required": false, "schema": {"type": "string", "enum": ["descricao", "-descricao"], "example": "descricao"}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/ContasContabeisDadosDTO"}}}, "type": "object"}}}}}, "x-api-resource": "ContasContabeis", "x-api-action": "ObterMultiplos"}}, "/contas-contabeis/{idContaContabil}": {"get": {"tags": ["Contas Financeiras"], "summary": "Obt\u00e9m uma conta financeira", "description": "Obt\u00e9m uma conta financeira pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContaContabil"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/ContasContabeisDadosDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "ContasContabeis", "x-api-action": "Obter"}}, "/contas/receber": {"get": {"tags": ["Contas a Receber"], "summary": "Obt\u00e9m contas a receber", "description": "Obt\u00e9m contas a receber paginadas.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "situacoes[]", "in": "query", "description": "`1` Em aberto <br>`2` Recebido <br>`3` Parcialmente recebido <br>`4` Devolvido <br>`5` Cancelado", "required": false, "schema": {"type": "array", "items": {"type": "integer"}, "enum": [1, 2, 3, 4, 5], "example": [1, 3]}}, {"name": "tipoFiltroData", "in": "query", "description": "Referente ao campo que ser\u00e1 considerado ao filtrar por data inicial e final<br>`E` Data de emiss\u00e3o <br> `V` Data de vencimento <br> `R` Data de recebimento", "required": false, "schema": {"type": "string", "default": "E", "enum": ["E", "V", "R"]}}, {"name": "dataInicial", "in": "query", "description": "Data inicial. Por padr\u00e3o, um ano antes da data atual.", "required": false, "schema": {"type": "string", "format": "date", "example": "2022-01-01"}}, {"name": "dataFinal", "in": "query", "description": "Data final. Por padr\u00e3o, a data atual.", "required": false, "schema": {"type": "string", "format": "date", "example": "2023-01-01"}}, {"name": "idsCategorias[]", "in": "query", "description": "IDs das categorias de receitas e despesas", "required": false, "schema": {"type": "array", "items": {"type": "integer"}, "example": [12345678, 87654321]}}, {"name": "idPortador", "in": "query", "description": "ID da conta financeira", "required": false, "schema": {"type": "integer", "example": 12345678}}, {"name": "idContato", "in": "query", "description": "ID do contato", "required": false, "schema": {"type": "integer", "example": 12345678}}, {"name": "idVendedor", "in": "query", "description": "ID do vendedor", "required": false, "schema": {"type": "integer", "example": 12345678}}, {"name": "idFormaPagamento", "in": "query", "description": "ID da forma de pagamento", "required": false, "schema": {"type": "integer", "example": 12345678}}, {"name": "boletoGerado", "in": "query", "description": "Obt\u00e9m contas com ou sem boletos emitidos via integra\u00e7\u00e3o, `0` para boletos n\u00e3o emitidos e `1` para boletos emitidos", "required": false, "schema": {"type": "integer", "enum": [0, 1], "example": 1}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/ContasReceberDadosListDTO"}}}, "type": "object"}}}}}, "x-api-resource": "ContasReceber", "x-api-action": "ObterMultiplos"}, "post": {"tags": ["Contas a Receber"], "summary": "Cria uma conta a receber", "description": "Cria uma conta a receber.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ContasDadosBaseDTO"}, {"$ref": "#/components/schemas/ContasReceberDadosBaseDTO"}, {"$ref": "#/components/schemas/ContasReceberDadosDTO"}]}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/BasePostResponse"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "ContasReceber", "x-api-action": "Criar"}}, "/contas/receber/{idContaReceber}": {"get": {"tags": ["Contas a Receber"], "summary": "Obt\u00e9m uma conta a receber", "description": "Obt\u00e9m uma conta a receber pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContaReceber"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "object", "allOf": [{"$ref": "#/components/schemas/ContasReceberDadosListDTO"}, {"$ref": "#/components/schemas/ContasReceberDadosBaseDTO"}, {"$ref": "#/components/schemas/ContasReceberDadosDTO"}]}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "ContasReceber", "x-api-action": "Obter"}, "put": {"tags": ["Contas a Receber"], "summary": "Altera uma conta a receber", "description": "Altera uma conta a receber pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContaReceber"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ContasDadosBaseDTO"}, {"$ref": "#/components/schemas/ContasReceberDadosBaseDTO"}]}}}}, "responses": {"204": {"description": "No content."}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "ContasReceber", "x-api-action": "Alterar"}, "delete": {"tags": ["Contas a Receber"], "summary": "Remove uma conta a receber", "description": "Remove uma conta a receber pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContaReceber"}], "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "ContasReceber", "x-api-action": "Remover"}}, "/contas/receber/{idContaReceber}/baixar": {"post": {"tags": ["Contas a Receber"], "summary": "Cria o recebimento de uma conta a receber", "description": "Cria o recebimento de uma conta a receber.", "parameters": [{"$ref": "#/components/parameters/idContaReceber"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContasBaixarContaDTO"}}}}, "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"bordero": {"properties": {"id": {"type": "integer", "example": 12345678}}, "type": "object"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "ContasReceber", "x-api-action": "BaixarConta"}}, "/contas/receber/boletos": {"get": {"tags": ["Contas a Receber"], "summary": "Obt\u00e9m boletos de contas a receber", "description": "Obt\u00e9m os boletos vinculados a um idOrigem, o qual corresponde ao ID de uma venda ou nota fiscal.", "parameters": [{"$ref": "#/components/parameters/idOrigemContaReceber"}, {"$ref": "#/components/parameters/situacoesContaReceber"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContasReceberBoletosDadosBaseDTO"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"properties": {"error": {"properties": {"type": {"description": "Tipo do erro.", "type": "string", "example": "RESOURCE_NOT_FOUND"}, "message": {"description": "Mensagem de erro.", "type": "string", "example": "Nenhum boleto foi localizado"}, "description": {"description": "Descri\u00e7\u00e3o do erro.", "type": "string", "example": "O recurso requisitado n\u00e3o foi encontrado. Verifique se o endpoint solicitado est\u00e1 correto ou se o ID informado realmente existe no sistema"}}, "type": "object"}}, "type": "object"}}}}}, "x-api-resource": "ContasReceber", "x-api-action": "ObterBoletos"}}, "/contas/receber/boletos/cancelar": {"post": {"tags": ["Contas a Receber"], "summary": "Cancela boletos de contas a receber", "description": "Cancela um ou todos os boletos em aberto vinculados a uma venda ou nota fiscal.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContasReceberBoletosCancelarDTO"}}}}, "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"required": ["type", "message", "description"], "properties": {"type": {"type": "string", "enum": ["BAD_REQUEST", "VALIDATION_ERROR", "MISSING_REQUIRED_FIELD_ERROR", "EMPTY_REQUEST_BODY", "INVALID_REQUEST_BODY", "INVALID_APIKEY_ERROR", "UNAUTHORIZED", "UNAUTHENTICATED", "FORBIDDEN", "RESOURCE_NOT_FOUND", "METHOD_NOT_ALLOWED", "TOO_MANY_REQUESTS", "UNKNOWN_ERROR", "SERVER_ERROR", "NOT_IMPLEMENTED"], "example": "VALIDATION_ERROR"}, "message": {"type": "string", "example": "N\u00e3o foi poss\u00edvel realizar o cancelamento"}, "description": {"type": "string", "example": "N\u00e3o foi poss\u00edvel realizar cancelamento da(s) conta(s) a receber, pois houveram erros de valida\u00e7\u00e3o."}, "fields": {"type": "array", "items": {"properties": {"code": {"type": "integer", "example": ""}, "msg": {"type": "string", "example": "Conta(s) a receber n\u00e3o foram encontrada(s), verifique se as contas est\u00e3o em aberto e com forma de pagamento boleto banc\u00e1rio"}, "element": {"type": "string", "example": "idDuplicata"}, "namespace": {"description": "", "type": "string", "example": ""}}, "type": "object"}}}, "type": "object"}}}}}, "x-api-resource": "ContasReceber", "x-api-action": "CancelarBoletos"}}, "/contatos": {"get": {"tags": ["Contatos"], "summary": "Obt\u00e9m contatos", "description": "Obt\u00e9m contatos paginados.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "pesquisa", "in": "query", "description": "Nome, CPF/CNPJ, fantasia, e-mail ou c\u00f3digo do contato", "required": false, "schema": {"type": "string"}}, {"name": "criterio", "in": "query", "description": "Criterio de listagem <br> `1` Todos <br> `2` Exclu\u00eddos <br> `3` \u00daltimos inclu\u00eddos <br> `4` Sem movimento", "required": false, "schema": {"type": "integer", "default": 3, "enum": [1, 2, 3, 4]}}, {"name": "dataInclusaoInicial", "in": "query", "description": "Data de inclus\u00e3o inicial", "required": false, "schema": {"type": "string", "format": "datetime", "example": "2022-01-01 10:00:00"}}, {"name": "dataInclusaoFinal", "in": "query", "description": "Data de inclus\u00e3o final", "required": false, "schema": {"type": "string", "format": "datetime", "example": "2022-01-01 15:00:00"}}, {"name": "dataAlteracaoInicial", "in": "query", "description": "Data de altera\u00e7\u00e3o inicial", "required": false, "schema": {"type": "string", "format": "datetime", "example": "2022-01-01 10:00:00"}}, {"name": "dataAlteracaoFinal", "in": "query", "description": "Data de altera\u00e7\u00e3o final", "required": false, "schema": {"type": "string", "format": "datetime", "example": "2022-01-01 15:00:00"}}, {"name": "idTipoContato", "in": "query", "description": "ID do tipo do contato", "required": false, "schema": {"type": "integer", "example": 12345678}}, {"name": "idVendedor", "in": "query", "description": "ID do vendedor relacionado ao contato", "required": false, "schema": {"type": "integer", "example": 12345678}}, {"name": "uf", "in": "query", "description": "UF do contato", "required": false, "schema": {"type": "string", "example": "RS"}}, {"name": "telefone", "in": "query", "description": "Telefone do contato", "required": false, "schema": {"type": "string", "example": "(51) 99999-9999"}}, {"name": "idsContatos[]", "in": "query", "description": "IDs dos contatos", "required": false, "schema": {"type": "array", "items": {"type": "integer"}, "example": [12345678, 87654321]}}, {"name": "numeroDocumento", "in": "query", "description": " CPF/CNPJ, desconsiderando a pontua\u00e7\u00e3o", "required": false, "schema": {"type": "string", "example": "12345678910"}}, {"name": "tipoPessoa", "in": "query", "description": "Tipo de pessoa <br> `1` F\u00edsica <br> `2` Jur\u00eddica <br> `3` Estrangeiro", "required": false, "schema": {"type": "integer", "enum": [1, 2, 3], "example": 1}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/ContatosDadosBaseDTO"}}}, "type": "object"}}}}}, "x-api-resource": "Contatos", "x-api-action": "ObterMultiplos"}, "post": {"tags": ["Contatos"], "summary": "Cria um contato", "description": "Cria um contato.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ContatosDadosBaseDTO"}, {"$ref": "#/components/schemas/ContatosDadosDTO"}]}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/BasePostResponse"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contatos", "x-api-action": "Criar"}, "delete": {"tags": ["Contatos"], "summary": "Remove m\u00faltiplos contatos", "description": "Remove m\u00faltiplos contatos pelos IDs.", "parameters": [{"name": "idsContatos[]", "in": "query", "description": "IDs dos contatos", "required": true, "schema": {"type": "array", "items": {"type": "integer"}, "example": [12345678, 87654321]}}], "responses": {"204": {"description": "No content."}, "200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/ContatosAlertasResponse"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contatos", "x-api-action": "RemoverMultiplos"}}, "/contatos/{idContato}": {"get": {"tags": ["Contatos"], "summary": "Obt\u00e9m um contato", "description": "Obt\u00e9m um contato pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContato"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "object", "allOf": [{"$ref": "#/components/schemas/ContatosDadosBaseDTO"}, {"$ref": "#/components/schemas/ContatosDadosDTO"}]}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contatos", "x-api-action": "Obter"}, "put": {"tags": ["Contatos"], "summary": "Altera um contato", "description": "Altera um contato pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContato"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ContatosDadosBaseDTO"}, {"$ref": "#/components/schemas/ContatosDadosDTO"}]}}}}, "responses": {"204": {"description": "No content."}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contatos", "x-api-action": "Alterar"}, "delete": {"tags": ["Contatos"], "summary": "Remove um contato", "description": "Remove um contato pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContato"}], "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contatos", "x-api-action": "Remover"}}, "/contatos/{idContato}/tipos": {"get": {"tags": ["Contatos"], "summary": "Obt\u00e9m os tipos de contato de um contato", "description": "Obt\u00e9m os tipos de contato de um contato pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContato"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/ContatosTipoContatoDTO"}}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contatos", "x-api-action": "ObterTipoContato"}}, "/contatos/consumidor-final": {"get": {"tags": ["Contatos"], "summary": "Obt\u00e9m os dados do contato Consumidor Final", "description": "Obt\u00e9m os dados do contato Consumidor Final. O consumidor final \u00e9 um contato padr\u00e3o do sistema que \u00e9 criado automaticamente e n\u00e3o pode ser alterado.", "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "object", "allOf": [{"$ref": "#/components/schemas/ContatosDadosBaseDTO"}, {"$ref": "#/components/schemas/ContatosDadosDTO"}]}}, "type": "object"}}}}}, "x-api-resource": "Contatos", "x-api-action": "Obter"}}, "/contatos/{idContato}/situacoes": {"patch": {"tags": ["Contatos"], "summary": "Altera a situa\u00e7\u00e3o de um contato", "description": "Altera a situa\u00e7\u00e3o de um contato pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContato"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"properties": {"situacao": {"type": "string", "enum": ["A", "I", "E", "S"], "example": "A"}}, "type": "object"}}}}, "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contatos", "x-api-action": "AlterarSituacao"}}, "/contatos/situacoes": {"post": {"tags": ["Contatos"], "summary": "Altera a situa\u00e7\u00e3o de m\u00faltiplos contatos", "description": "Altera a situa\u00e7\u00e3o de m\u00faltiplos contatos pelos IDs.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"properties": {"idsContatos": {"type": "array", "items": {"type": "integer", "example": 12345678}}, "situacao": {"type": "string", "enum": ["A", "I", "E", "S"], "example": "A"}}, "type": "object"}}}}, "responses": {"204": {"description": "No content."}, "200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/ContatosAlertasResponse"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contatos", "x-api-action": "AlterarSituacaoMultiplos"}}, "/contatos/tipos": {"get": {"tags": ["Contatos - Tipos"], "summary": "Obt\u00e9m tipos de contato", "description": "Obt\u00e9m tipos de contato pelo ID.", "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/ContatosTipoContatoDTO"}}}, "type": "object"}}}}}, "x-api-resource": "ContatosTipos", "x-api-action": "ObterTipoContatoMultiplos"}}, "/contratos": {"get": {"tags": ["Contratos"], "summary": "Obt\u00e9m contratos", "description": "Obt\u00e9m contratos paginados.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "dataCriacaoInicio", "in": "query", "description": "Data inicial de cria\u00e7\u00e3o", "required": false, "schema": {"type": "string", "format": "date", "example": "2023-01-01"}}, {"name": "dataCriacaoFinal", "in": "query", "description": "Data final de cria\u00e7\u00e3o", "required": false, "schema": {"type": "string", "format": "date", "example": "2023-01-15"}}, {"name": "dataBaseInicio", "in": "query", "description": "Data base inicial para gera\u00e7\u00e3o de cobran\u00e7as", "required": false, "schema": {"type": "string", "format": "date", "example": "2023-01-01"}}, {"name": "dataBaseFinal", "in": "query", "description": "Data base final para gera\u00e7\u00e3o de cobran\u00e7as", "required": false, "schema": {"type": "string", "format": "date", "example": "2023-01-15"}}, {"name": "situacao", "in": "query", "description": "`0` Inativo<br>`1` Ativo<br>`2` Baixado<br>`3` Isento", "required": false, "schema": {"type": "string", "default": 1, "enum": [0, 1, 2, 3]}}, {"name": "idContato", "in": "query", "description": "ID do contato", "required": false, "schema": {"type": "integer", "example": 1245678}}, {"name": "idContatoCobranca", "in": "query", "description": "ID do contato de cobran\u00e7a", "required": false, "schema": {"type": "integer", "example": 1245678}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/ContratosDadosBaseDTO"}}}, "type": "object"}}}}}, "x-api-resource": "Contratos", "x-api-action": "ObterMultiplos"}, "post": {"tags": ["Contratos"], "summary": "Cria um contrato", "description": "Cria um contrato.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ContratosDadosBaseDTO"}, {"$ref": "#/components/schemas/ContratosDadosDTO"}]}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/BasePostResponse"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contratos", "x-api-action": "Criar"}}, "/contratos/{idContrato}": {"get": {"tags": ["Contratos"], "summary": "Obt\u00e9m um contrato", "description": "Obt\u00e9m um contrato pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContrato"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "object", "allOf": [{"$ref": "#/components/schemas/ContratosDadosBaseDTO"}, {"$ref": "#/components/schemas/ContratosDadosDTO"}]}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contratos", "x-api-action": "Obter"}, "put": {"tags": ["Contratos"], "summary": "Altera um contrato", "description": "Altera um contrato pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContrato"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ContratosDadosBaseDTO"}, {"$ref": "#/components/schemas/ContratosDadosDTO"}]}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/BasePostResponse"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contratos", "x-api-action": "Alterar"}, "delete": {"tags": ["Contratos"], "summary": "Remove um contrato", "description": "Remove um contrato pelo ID.", "parameters": [{"$ref": "#/components/parameters/idContrato"}], "responses": {"204": {"description": "No content."}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Contratos", "x-api-action": "Remover"}}, "/depositos": {"get": {"tags": ["Dep\u00f3sitos"], "summary": "Obt\u00e9m dep\u00f3sitos", "description": "Obt\u00e9m dep\u00f3sitos paginados.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "descricao", "in": "query", "description": "Descri\u00e7\u00e3o do dep\u00f3sito", "required": false, "schema": {"type": "string", "example": "Geral"}}, {"name": "situacao", "in": "query", "description": "`0` Inativo <br> `1` Ativo", "required": false, "schema": {"type": "integer", "default": 1, "enum": [0, 1]}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/DepositosDadosDTO"}}}, "type": "object"}}}}}, "x-api-resource": "Depositos", "x-api-action": "ObterMultiplos"}, "post": {"tags": ["Dep\u00f3sitos"], "summary": "Cria um dep\u00f3sito", "description": "Cria um dep\u00f3sito. At\u00e9 100 dep\u00f3sitos podem ser criados.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DepositosDadosDTO"}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/BasePostResponse"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Depositos", "x-api-action": "Criar"}}, "/depositos/{idDeposito}": {"get": {"tags": ["Dep\u00f3sitos"], "summary": "Obt\u00e9m um dep\u00f3sito", "description": "Obt\u00e9m um dep\u00f3sito pelo ID.", "parameters": [{"$ref": "#/components/parameters/idDeposito"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/DepositosDadosDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Depositos", "x-api-action": "Obter"}, "put": {"tags": ["Dep\u00f3sitos"], "summary": "Altera um dep\u00f3sito", "description": "Altera um dep\u00f3sito pelo ID.", "parameters": [{"$ref": "#/components/parameters/idDeposito"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DepositosDadosDTO"}}}}, "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/BasePostResponse"}, {"properties": {"alertas": {"type": "array", "items": {"$ref": "#/components/schemas/ErrorField"}}}, "type": "object"}]}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Depositos", "x-api-action": "Alterar"}}, "/empresas/me/dados-basicos": {"get": {"tags": ["Empresas"], "summary": "Obt\u00e9m dados b\u00e1sicos da empresa", "description": "Obt\u00e9m CNPJ, raz\u00e3o social e e-mail da empresa.", "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/EmpresasDadosBasicosDTO"}}, "type": "object"}}}}}, "x-api-resource": "Empresas", "x-api-action": "Obter"}}, "/estoques/saldos/{idDeposito}": {"get": {"tags": ["Estoques"], "summary": "Obt\u00e9m o saldo em estoque de produtos por dep\u00f3sito", "description": "Obt\u00e9m o saldo em estoque de produtos pelo ID do dep\u00f3sito.", "parameters": [{"name": "idDeposito", "in": "path", "description": "ID do dep\u00f3sito", "required": true, "schema": {"type": "integer", "example": 12345678}}, {"name": "idsProdutos[]", "in": "query", "description": "IDs dos produtos", "required": true, "schema": {"type": "array", "items": {"type": "integer"}, "example": [12345678, 87654321]}}, {"name": "codigos[]", "in": "query", "description": "C\u00f3digos dos produtos", "required": false, "schema": {"type": "array", "items": {"type": "string"}, "example": ["SKU1", "SKU2"]}}, {"$ref": "#/components/parameters/filtroSaldoEstoque"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/EstoquesSaldosBaseDTO"}}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Estoques", "x-api-action": "ObterSaldosEstoqueDeposito"}}, "/estoques/saldos": {"get": {"tags": ["Estoques"], "summary": "Obt\u00e9m o saldo em estoque de produtos", "description": "Obt\u00e9m o saldo em estoque de produtos, em todos os dep\u00f3sitos.", "parameters": [{"name": "idsProdutos[]", "in": "query", "description": "IDs dos produtos", "required": true, "schema": {"type": "array", "items": {"type": "integer"}, "example": [12345678, 87654321]}}, {"name": "codigos[]", "in": "query", "description": "C\u00f3digos dos produtos", "required": false, "schema": {"type": "array", "items": {"type": "string"}, "example": ["SKU1", "SKU2"]}}, {"$ref": "#/components/parameters/filtroSaldoEstoque"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"allOf": [{"$ref": "#/components/schemas/EstoquesSaldosBaseDTO"}, {"$ref": "#/components/schemas/EstoquesSaldosDTO"}]}}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Estoques", "x-api-action": "ObterSaldosEstoque"}}, "/estoques": {"post": {"tags": ["Estoques"], "summary": "Cria um registro de estoque", "description": "Cria um registro de estoque.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/EstoquesDadosDTO"}, {"$ref": "#/components/schemas/EstoquesDadosBaseDTO"}]}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/BasePostResponse"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Estoques", "x-api-action": "Criar"}}, "/estoques/{idEstoque}": {"put": {"tags": ["Estoques"], "summary": "Altera um registro de estoque", "description": "Altera um registro de estoque pelo ID.", "parameters": [{"name": "idEstoque", "in": "path", "description": "ID do estoque", "required": true, "schema": {"type": "integer", "example": 12345678}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EstoquesDadosEdicaoDTO"}}}}, "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Estoques", "x-api-action": "Alterar"}}, "/produtos/lotes": {"get": {"tags": ["Produtos - Lotes"], "summary": "Obt\u00e9m lotes de produtos", "description": "Obt\u00e9m lotes de produtos paginados.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "idsProdutos[]", "in": "query", "description": "IDs dos produtos", "required": true, "schema": {"type": "array", "items": {"type": "integer"}, "example": [12345678, 87654321]}}, {"$ref": "#/components/parameters/idsLotes[]"}, {"$ref": "#/components/parameters/idsDepositos[]"}, {"$ref": "#/components/parameters/codigosLotes[]"}, {"$ref": "#/components/parameters/status"}, {"$ref": "#/components/parameters/dataValidadeInicial"}, {"$ref": "#/components/parameters/dataValidadeFinal"}, {"$ref": "#/components/parameters/dataFabricacaoInicial"}, {"$ref": "#/components/parameters/dataFabricacaoFinal"}, {"$ref": "#/components/parameters/dataCriacaoInicial"}, {"$ref": "#/components/parameters/dataCriacaoFinal"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/LotesDTO"}}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Lotes", "x-api-action": "ObterMultiplos"}, "put": {"tags": ["Produtos - Lotes"], "summary": "Salva lotes de produtos", "description": "Cria/altera lotes de produtos.", "requestBody": {"content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/LotesDTO"}}}}}, "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/SaveResponseLotsDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Lotes", "x-api-action": "CriarMultiplos"}, "delete": {"tags": ["Produtos - Lotes"], "summary": "Remove lotes de produtos", "description": "Remove lotes de produtos pelos IDs.", "parameters": [{"name": "idsLotes[]", "in": "query", "description": "IDs dos lotes", "required": true, "schema": {"type": "array", "items": {"type": "integer"}, "example": [12345678, 87654321]}}], "responses": {"204": {"description": "No content"}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Lotes", "x-api-action": "RemoverMultiplos"}}, "/produtos/lotes/{idLote}": {"get": {"tags": ["Produtos - Lotes"], "summary": "Obt\u00e9m um lote de um produto", "description": "Obt\u00e9m um lote de um produto pelo ID.", "parameters": [{"$ref": "#/components/parameters/idLote"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LotesDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Lotes", "x-api-action": "Obter"}, "put": {"tags": ["Produtos - Lotes"], "summary": "Altera um lote de um produto", "description": "Altera um lote de um produto pelo ID.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LotePutRequestDTO"}}}}, "responses": {"204": {"description": "No content."}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Lotes", "x-api-action": "Alterar"}}, "/produtos/lotes/controla-lote": {"get": {"tags": ["Produtos - Lotes"], "summary": "Obt\u00e9m a informa\u00e7\u00e3o se determinados produtos possuem controle de lote", "description": "Obt\u00e9m a informa\u00e7\u00e3o se determinados produtos possuem controle de lote.", "parameters": [{"name": "idsProdutos[]", "in": "query", "description": "IDs dos produtos", "required": true, "schema": {"type": "array", "items": {"type": "integer"}, "example": [12345678, 87654321]}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/ProdutoControlaLotesDTO"}}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Lotes", "x-api-action": "ObterMultiplosProdutoControlaLote"}}, "/produtos/{idProduto}/lotes/controla-lote/desativar": {"post": {"tags": ["Produtos - Lotes"], "summary": "Desativa controle de lotes para o produto", "description": "Desativa controle de lotes para o produto pelo ID do produto.", "parameters": [{"$ref": "#/components/parameters/idProduto"}], "responses": {"200": {"description": ""}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Lotes", "x-api-action": "AlterarSituacao"}}, "/produtos/lotes/{idLote}/status": {"patch": {"tags": ["Produtos - Lotes"], "summary": "Altera o status de um lote do produto", "description": "Altera o status de um lote do produto pelo ID.", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoteStatusDTO"}}}}, "responses": {"204": {"description": "No content"}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Lotes", "x-api-action": "AlterarSituacao"}}, "/produtos/lotes/{idLote}/lancamentos": {"get": {"tags": ["Produtos - Lotes Lan\u00e7amentos"], "summary": "Obt\u00e9m os lan\u00e7amentos de um lote de produto", "description": "Obt\u00e9m os lan\u00e7amentos de um lote de produto pelo ID.", "parameters": [{"$ref": "#/components/parameters/idLote"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/LoteLancamentoDTO"}}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "LotesLancamentos", "x-api-action": "ObterMultiplos"}, "post": {"tags": ["Produtos - Lotes Lan\u00e7amentos"], "summary": "Cria um lan\u00e7amento de um lote", "description": "Inclui lan\u00e7amento de um lote.", "parameters": [{"$ref": "#/components/parameters/idLote"}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoteLancamentoDTO"}}}}, "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LoteLancamentoDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "LotesLancamentos", "x-api-action": "Criar"}}, "/produtos/lotes/lancamentos/{idLancamento}": {"get": {"tags": ["Produtos - Lotes Lan\u00e7amentos"], "summary": "Obt\u00e9m um lan\u00e7amento de um lote de produto", "description": "Obt\u00e9m um lan\u00e7amento de um lote de produto pelo ID do lan\u00e7amento.", "parameters": [{"$ref": "#/components/parameters/idLancamento"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LoteLancamentoDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "LotesLancamentos", "x-api-action": "Obter"}, "patch": {"tags": ["Produtos - Lotes Lan\u00e7amentos"], "summary": "Altera a observa\u00e7\u00e3o de um lan\u00e7amento de um lote de um produto", "description": "Altera a observa\u00e7\u00e3o de um lan\u00e7amento de um lote de um produto pelo ID do lan\u00e7amento.", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoteLancamentoObservacaoDTO"}}}}, "responses": {"200": {"description": ""}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "LotesLancamentos", "x-api-action": "AlterarAtributo"}}, "/produtos/{idProduto}/lotes/{idLote}/depositos/{idDeposito}/saldo": {"get": {"tags": ["Produtos - Lotes Lan\u00e7amentos"], "summary": "Obt\u00e9m o saldo de um lote de produto", "description": "Obt\u00e9m o saldo de um lote de produto.", "parameters": [{"$ref": "#/components/parameters/idLote"}, {"$ref": "#/components/parameters/idProduto"}, {"$ref": "#/components/parameters/idDepositoInternal"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/SaldoLoteDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "LotesLancamentos", "x-api-action": "ObterSaldosLote"}}, "/produtos/{idProduto}/lotes/depositos/{idDeposito}/saldo": {"get": {"tags": ["Produtos - Lotes Lan\u00e7amentos"], "summary": "Obt\u00e9m os saldos dos lotes de um produto por dep\u00f3sito", "description": "Obt\u00e9m os saldos dos lotes de um produto por dep\u00f3sito.", "parameters": [{"name": "idsLotes[]", "in": "query", "description": "IDs dos lotes", "required": true, "schema": {"type": "array", "items": {"type": "integer"}, "example": [12345678, 87654321]}}, {"$ref": "#/components/parameters/idProduto"}, {"$ref": "#/components/parameters/idDepositoInternal"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/SaldoLoteDTO"}}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "LotesLancamentos", "x-api-action": "ObterSaldosLote"}}, "/produtos/{idProduto}/lotes/depositos/{idDeposito}/saldo/soma": {"get": {"tags": ["Produtos - Lotes Lan\u00e7amentos"], "summary": "Obt\u00e9m a soma dos saldos dos lotes de um produto em um dep\u00f3sito", "description": "Obt\u00e9m a soma dos saldos dos lotes de um produto em um dep\u00f3sito.", "parameters": [{"$ref": "#/components/parameters/idProduto"}, {"$ref": "#/components/parameters/idDepositoInternal"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/SaldoSomaLotesDTO"}}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "LotesLancamentos", "x-api-action": "ObterSaldosLote"}}, "/produtos/{idProduto}/lotes/saldo/soma": {"get": {"tags": ["Produtos - Lotes Lan\u00e7amentos"], "summary": "Obt\u00e9m o saldo total dos lotes de um produto", "description": "Obt\u00e9m o saldo total dos lotes de um produto pelo ID do produto.", "parameters": [{"$ref": "#/components/parameters/idProduto"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/SaldoSomaLotesTodosDepositosDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "LotesLancamentos", "x-api-action": "ObterSaldosLote"}}, "/formas-pagamentos": {"get": {"tags": ["Formas de Pagamentos"], "summary": "Obt\u00e9m formas de pagamentos", "description": "Obt\u00e9m formas de pagamentos paginadas.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "descricao", "in": "query", "description": "Descri\u00e7\u00e3o da forma de pagamento", "required": false, "schema": {"type": "string", "example": "Dinheiro"}}, {"name": "tiposPagamentos[]", "in": "query", "description": "`1` Dinheiro<br>`2` Cheque<br>`3` Cart\u00e3o de Cr\u00e9dito<br>`4` Cart\u00e3o de D\u00e9bito<br>`5` Cart\u00e3o da Loja (Private Label)<br>`10` Vale Alimenta\u00e7\u00e3o<br>`11` Vale Refei\u00e7\u00e3o<br>`12` Vale Presente<br>`13` Vale Combust\u00edvel<br>`14` Duplicata Mercantil<br>`15` Boleto Banc\u00e1rio<br>`16` Dep\u00f3sito Banc\u00e1rio<br>`17` Pagamento Instant\u00e2neo (PIX) - Din\u00e2mico<br>`18` Transfer\u00eancia Banc\u00e1ria, Carteira Digital<br>`19` Programa de Fidelidade, Cashback, Cr\u00e9dito Virtual<br>`20` Pagamento Instant\u00e2neo (PIX) \u2013 Est\u00e1tico<br>`21` Cr\u00e9dito em loja<br>`22` Pagamento Eletr\u00f4nico n\u00e3o Informado - falha de hardware do sistema emissor<br>`90` Sem pagamento<br>`99` Outros", "required": false, "schema": {"type": "array", "items": {"type": "integer"}, "example": [12345678, 87654321]}}, {"name": "situacao", "in": "query", "description": "`0` Inativa<br>`1` Ativa", "schema": {"type": "integer", "enum": [0, 1]}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/FormasPagamentosDadosBaseDTO"}}}, "type": "object"}}}}}, "x-api-resource": "FormasPagamentos", "x-api-action": "ObterMultiplos"}, "post": {"tags": ["Formas de Pagamentos"], "summary": "Cria uma forma de pagamento", "description": "Cria uma forma de pagamento.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/FormasPagamentosDadosBaseDTO"}, {"$ref": "#/components/schemas/FormasPagamentosDadosDTO"}]}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"allOf": [{"$ref": "#/components/schemas/BasePostResponse"}]}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "FormasPagamentos", "x-api-action": "Criar"}}, "/formas-pagamentos/{idFormaPagamento}": {"get": {"tags": ["Formas de Pagamentos"], "summary": "Obt\u00e9m uma forma de pagamento", "description": "Obt\u00e9m uma forma de pagamento pelo ID.", "parameters": [{"$ref": "#/components/parameters/idFormaPagamento"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "object", "allOf": [{"$ref": "#/components/schemas/FormasPagamentosDadosBaseDTO"}, {"$ref": "#/components/schemas/FormasPagamentosDadosDTO"}]}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "FormasPagamentos", "x-api-action": "Obter"}, "put": {"tags": ["Formas de Pagamentos"], "summary": "Altera uma forma de pagamento", "description": "Altera uma forma de pagamento pelo ID.", "parameters": [{"$ref": "#/components/parameters/idFormaPagamento"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/FormasPagamentosDadosBaseDTO"}, {"$ref": "#/components/schemas/FormasPagamentosDadosDTO"}]}}}}, "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"allOf": [{"$ref": "#/components/schemas/BasePostResponse"}]}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "FormasPagamentos", "x-api-action": "Alterar"}, "delete": {"tags": ["Formas de Pagamentos"], "summary": "Remove uma forma de pagamento", "description": "Remove uma forma de pagamento pelo ID.", "parameters": [{"$ref": "#/components/parameters/idFormaPagamento"}], "responses": {"204": {"description": "No content."}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "FormasPagamentos", "x-api-action": "Remover"}}, "/formas-pagamentos/{idFormaPagamento}/padrao": {"patch": {"tags": ["Formas de Pagamentos"], "summary": "Altera o padr\u00e3o de uma forma de pagamento", "description": "Altera o padr\u00e3o de uma forma de pagamento pelo ID.", "parameters": [{"$ref": "#/components/parameters/idFormaPagamento"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FormasPagamentosDefinirPadraoDTO"}}}}, "responses": {"204": {"description": "No content."}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "FormasPagamentos", "x-api-action": "AlterarAtributo"}}, "/formas-pagamentos/{idFormaPagamento}/situacao": {"patch": {"tags": ["Formas de Pagamentos"], "summary": "Altera a situa\u00e7\u00e3o de uma forma de pagamento", "description": "Altera a situa\u00e7\u00e3o de uma forma de pagamento pelo ID.", "parameters": [{"$ref": "#/components/parameters/idFormaPagamento"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FormasPagamentosAlterarSituacaoDTO"}}}}, "responses": {"204": {"description": "No content."}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "FormasPagamentos", "x-api-action": "AlterarSituacao"}}, "/homologacao/produtos": {"get": {"tags": ["Homologa\u00e7\u00e3o"], "summary": "Obt\u00e9m o produto da homologa\u00e7\u00e3o", "description": "Obt\u00e9m o produto que ser\u00e1 utilizado durante os demais passos da homologa\u00e7\u00e3o, e, inicia o processo de valida\u00e7\u00e3o, o qual deve ser acompanhando via interface do cadastro de aplicativos.", "responses": {"200": {"description": "", "headers": {"x-bling-homologacao": {"$ref": "#/components/headers/x-bling-homologacao"}}, "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/HomologacaoDadosBaseDTO"}}, "type": "object"}}}}}, "x-api-resource": "Homologacao", "x-api-action": "Obter"}, "post": {"tags": ["Homologa\u00e7\u00e3o"], "summary": "Cria o produto da homologa\u00e7\u00e3o", "description": "Cria o produto da homologa\u00e7\u00e3o.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HomologacaoDadosBaseDTO"}}}}, "responses": {"201": {"description": "", "headers": {"x-bling-homologacao": {"$ref": "#/components/headers/x-bling-homologacao"}}, "content": {"application/json": {"schema": {"properties": {"data": {"allOf": [{"$ref": "#/components/schemas/HomologacaoDadosDTO"}, {"$ref": "#/components/schemas/HomologacaoDadosBaseDTO"}]}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Homologacao", "x-api-action": "Criar"}}, "/homologacao/produtos/{idProdutoHomologacao}": {"put": {"tags": ["Homologa\u00e7\u00e3o"], "summary": "Altera o produto da homologa\u00e7\u00e3o", "description": "Altera o produto da homologa\u00e7\u00e3o pelo ID.", "parameters": [{"$ref": "#/components/parameters/idProdutoHomologacao"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HomologacaoDadosBaseDTO"}}}}, "responses": {"204": {"description": "No content.", "headers": {"x-bling-homologacao": {"$ref": "#/components/headers/x-bling-homologacao"}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Homologacao", "x-api-action": "Alterar"}, "delete": {"tags": ["Homologa\u00e7\u00e3o"], "summary": "Remove o produto da homologa\u00e7\u00e3o", "description": "Remove o produto da homologa\u00e7\u00e3o pelo ID.", "parameters": [{"$ref": "#/components/parameters/idProdutoHomologacao"}], "responses": {"204": {"description": "No content.", "headers": {"x-bling-homologacao": {"$ref": "#/components/headers/x-bling-homologacao"}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Homologacao", "x-api-action": "Remover"}}, "/homologacao/produtos/{idProdutoHomologacao}/situacoes": {"patch": {"tags": ["Homologa\u00e7\u00e3o"], "summary": "Altera a situa\u00e7\u00e3o do produto da homologa\u00e7\u00e3o", "description": "Altera a situa\u00e7\u00e3o do produto da homologa\u00e7\u00e3o pelo ID.", "parameters": [{"$ref": "#/components/parameters/idProdutoHomologacao"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HomologacaoSituacaoDTO"}}}}, "responses": {"204": {"description": "No content.", "headers": {"x-bling-homologacao": {"$ref": "#/components/headers/x-bling-homologacao"}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Homologacao", "x-api-action": "AlterarSituacao"}}, "/logisticas": {"get": {"tags": ["Log\u00edsticas"], "summary": "Obt\u00e9m log\u00edsticas", "description": "Obt\u00e9m log\u00edsticas paginados.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "tipoIntegracao", "in": "query", "description": "Par\u00e2metro para filtrar os registros atrav\u00e9s do tipo da log\u00edstica.", "required": false, "schema": {"type": "string", "default": "", "enum": ["AmazonDBA", "B2WEntrega", "B2WO2O", "Correios", "CorreiosLog", "CustomLogistic", "DafitiMilkrun", "Envvias", "Frenet", "FreteDescomplicado", "Intelipost", "Jadlog", "Jamef", "Kangu", "LogisticaAliExpress", "LogisticaShopee", "Loggi", "MagaluEntregas", "Mandae", "MelhorEnvio", "MercadoEnvios", "OlistFulfillment", "TotalExpress"]}}, {"name": "tiposIntegracoes[]", "in": "query", "description": "Par\u00e2metro para filtrar os registros atrav\u00e9s de uma lista de tipos de log\u00edstica.", "required": false, "schema": {"type": "array", "items": {"type": "string"}, "example": ["MelhorEnvio", "Correios"]}}, {"name": "situacao", "in": "query", "description": "Par\u00e2metro para filtrar os registros atrav\u00e9s da situa\u00e7\u00e3o<br> `H` Habilitado<br> `D` Desabilitado", "required": false, "schema": {"type": "string", "enum": ["H", "D"]}}, {"name": "logisticasReversas", "in": "query", "description": "Par\u00e2metro para filtrar apenas as log\u00edsticas que possuem servi\u00e7o de revers\u00e3o. \u00c9 sobrescrito pelo par\u00e2metro tipoIntegracao, caso enviado junto.", "required": false, "schema": {"type": "boolean", "default": false, "example": false}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/LogisticasDadosBaseDTO"}}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "ObterMultiplos"}, "post": {"tags": ["Log\u00edsticas"], "summary": "Cria log\u00edstica", "description": "Cria uma log\u00edstica.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LogisticasDadosPostDTO"}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LogisticasLogisticaDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "Criar"}}, "/logisticas/{idLogistica}": {"get": {"tags": ["Log\u00edsticas"], "summary": "Obt\u00e9m uma log\u00edstica", "description": "Obt\u00e9m uma log\u00edstica pelo ID.", "parameters": [{"$ref": "#/components/parameters/idLogistica"}, {"name": "listarServicosInativos", "in": "query", "description": "Par\u00e2metro para incluir servi\u00e7os inativos na resposta.<br> `true` Inclui servi\u00e7os ativos e inativos<br> `false` Inclui apenas servi\u00e7os ativos (padr\u00e3o)", "required": false, "schema": {"type": "boolean", "default": false, "example": false}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LogisticasDadosDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "Obter"}, "put": {"tags": ["Log\u00edsticas"], "summary": "Altera uma log\u00edstica", "description": "Altera uma log\u00edstica pelo ID.", "parameters": [{"$ref": "#/components/parameters/idLogistica"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LogisticasDadosPutDTO"}}}}, "responses": {"200": {"description": ""}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "Alterar"}, "delete": {"tags": ["Log\u00edsticas"], "summary": "Remove uma log\u00edstica", "description": "Remove uma log\u00edstica pelo ID.", "parameters": [{"$ref": "#/components/parameters/idLogistica"}], "responses": {"200": {"description": ""}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "Remover"}}, "/logisticas/servicos": {"get": {"tags": ["Log\u00edsticas - Servi\u00e7os"], "summary": "Obt\u00e9m servi\u00e7os de log\u00edsticas", "description": "Obt\u00e9m servi\u00e7os de log\u00edsticas paginados.", "parameters": [{"$ref": "#/components/parameters/pagina"}, {"$ref": "#/components/parameters/limite"}, {"name": "tipoIntegracao", "in": "query", "description": "Par\u00e2metro para filtrar os registros atrav\u00e9s do tipo da log\u00edstica.", "required": false, "schema": {"type": "string", "default": "", "enum": ["AmazonDBA", "B2WEntrega", "B2WO2O", "Correios", "CorreiosLog", "CustomLogistic", "DafitiMilkrun", "Envvias", "Frenet", "FreteDescomplicado", "Intelipost", "Jadlog", "Jamef", "Kangu", "LogisticaAliExpress", "LogisticaShopee", "Loggi", "MagaluEntregas", "Mandae", "MelhorEnvio", "MercadoEnvios", "OlistFulfillment", "TotalExpress", ""]}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/LogisticasServicosDadosDTO"}}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "ObterServicoLogisticoMultiplos"}, "post": {"tags": ["Log\u00edsticas - Servi\u00e7os"], "summary": "Cria um servi\u00e7o de log\u00edstica", "description": "Cria um servi\u00e7o de log\u00edstica personalizada.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LogisticasServicosDadosCreateRequestDTO"}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/LogisticasServicosDadosSaveDTO"}}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "CriarLogisticaServico"}}, "/logisticas/servicos/{idLogisticaServico}": {"get": {"tags": ["Log\u00edsticas - Servi\u00e7os"], "summary": "Obt\u00e9m um servico de log\u00edstica", "description": "Obt\u00e9m um servico de log\u00edstica pelo ID.", "parameters": [{"$ref": "#/components/parameters/idLogisticaServico"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LogisticasServicosDadosDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "ObterServicoLogistico"}, "put": {"tags": ["Log\u00edsticas - Servi\u00e7os"], "summary": "Altera um servi\u00e7o de log\u00edstica pelo ID", "description": "Altera dados de um servi\u00e7o de log\u00edstica personalizada pelo ID.", "parameters": [{"$ref": "#/components/parameters/idLogisticaServico"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LogisticasServicosDadosSaveRequestDTO"}}}}, "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LogisticasServicosDadosSaveDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "AlterarLogisticaServico"}}, "/logisticas/{idLogisticaServico}/situacoes": {"patch": {"tags": ["Log\u00edsticas - Servi\u00e7os"], "summary": "Desativa ou ativa um servi\u00e7o de uma log\u00edstica", "description": "Desativa ou ativa um servi\u00e7o de uma log\u00edstica personalizada pelo ID.", "parameters": [{"$ref": "#/components/parameters/idLogisticaServico"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LogisticasServicosDadosSituationDTO"}}}}, "responses": {"204": {"description": ""}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "AlterarSituacaoLogisticaServico"}}, "/logisticas/objetos/{idObjeto}": {"get": {"tags": ["Log\u00edsticas - Objetos"], "summary": "Obt\u00e9m um objeto de log\u00edstica", "description": "Obt\u00e9m um objeto de log\u00edstica pelo ID.", "parameters": [{"$ref": "#/components/parameters/idObjeto"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LogisticasObjetosDadosDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "ObterObjetoLogistico"}, "put": {"tags": ["Log\u00edsticas - Objetos"], "summary": "Altera um objeto de log\u00edstica pelo ID", "description": "Altera dados de um objeto de log\u00edstica personalizada pelo ID.", "parameters": [{"$ref": "#/components/parameters/idObjeto"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LogisticasObjetosUpdateRequestDTO"}}}}, "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LogisticasObjetosObjetoDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "AlterarLogisticaObjeto"}, "delete": {"tags": ["Log\u00edsticas - Objetos"], "summary": "Remove um objeto de log\u00edstica personalizada", "description": "Remove um objeto de log\u00edstica personalizada que n\u00e3o esteja em uma PLP.", "parameters": [{"$ref": "#/components/parameters/idObjeto"}], "responses": {"204": {"description": ""}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "RemoverObjetoLogistico"}}, "/logisticas/objetos": {"post": {"tags": ["Log\u00edsticas - Objetos"], "summary": "Cria um objeto de log\u00edstica", "description": "Cria um objeto de log\u00edstica personalizada.", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LogisticasObjetosDadosCreateRequestDTO"}}}}, "responses": {"201": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LogisticasObjetosObjetoDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "CriarLogisticaObjeto"}}, "/logisticas/etiquetas": {"get": {"tags": ["Log\u00edsticas - Etiquetas"], "summary": "Obt\u00e9m etiquetas das vendas", "description": "Obt\u00e9m as etiquetas dos pedidos de venda a partir dos ID's dos pedidos. No momento, o filtro est\u00e1 limitado para apenas um ID.", "parameters": [{"name": "formato", "in": "query", "description": "Par\u00e2metro para definir o formato do arquivo de impress\u00e3o.<br> `PDF` - Formato PDF<br> `ZPL` - Formato ZPL", "required": true, "schema": {"type": "string", "enum": ["PDF", "ZPL"]}}, {"name": "idsVendas[]", "in": "query", "description": "IDs dos pedidos de venda para impress\u00e3o", "required": true, "schema": {"type": "array", "items": {"type": "integer"}, "example": [6423806085, 6423806084]}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/LogisticasEtiquetasDadosResponseDTO"}}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "ObterEtiquetaMultiplos"}}, "/logisticas/remessas/{idRemessa}": {"get": {"tags": ["Log\u00edsticas - Remessas"], "summary": "Obt\u00e9m uma remessa de postagem", "description": "Obt\u00e9m uma remessa de postagem pelo ID.", "parameters": [{"$ref": "#/components/parameters/idRemessa"}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LogisticasRemessasDadosBaseDTO"}}, "type": "object"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "ObterRemessa"}, "put": {"tags": ["Log\u00edsticas - Remessas"], "summary": "Altera uma remessa de postagem", "description": "Altera uma remessa de postagem pelo ID.", "parameters": [{"$ref": "#/components/parameters/idRemessa"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LogisticasRemessasDadosBaseDTOCommon"}}}}, "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"$ref": "#/components/schemas/LogisticasRemessaRemessaDTO"}}, "type": "object"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "AlterarRemessa"}, "delete": {"tags": ["Log\u00edsticas - Remessas"], "summary": "Remove uma remessa de postagem", "description": "Remove uma remessa de postagem pelo ID.", "parameters": [{"$ref": "#/components/parameters/idRemessa"}], "responses": {"204": {"description": ""}, "404": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "400": {"description": "", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}, "x-api-resource": "Logisticas", "x-api-action": "RemoverRemessa"}}, "/logisticas/{idLogistica}/remessas": {"get": {"tags": ["Log\u00edsticas - Remessas"], "summary": "Obt\u00e9m as remessas de postagem de uma log\u00edstica", "description": "Obt\u00e9m as remessas de postagem de uma log\u00edstica pelo ID.", "parameters": [{"name": "idLogistica", "in": "path", "description": "ID da log\u00edstica", "required": true, "schema": {"type": "integer", "example": 12345678}}, {"name": "situacao", "in": "query", "description": "Filtro obrigat\u00f3rio de situa\u00e7\u00e3o da remessa.", "required": true, "schema": {"type": "integer", "enum": [-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6], "example": 0}}], "responses": {"200": {"description": "", "content": {"application/json": {"schema": {"properties": {"data": {"type": "array", "items": {"$ref
[...]
